.buttonRegisterUser {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.viewPassword_register_user {
    position: absolute;
    margin-left: 46%;
    margin-top: 6px;
    color: blue;
    cursor: pointer;
    z-index: 8;
}