.card-menu-home {
    transition: all .1s ease;
    cursor: pointer;
}

.color-b {
    background-color: #3070af !important;
}

.card-menu-home:hover {
    transform: scale(1.09);
}

.text-card-home:hover {
    border-bottom: 2px solid #1c9a83;
}

.ant-modal-mask {
    background: transparent;
    pointer-events: none;
}

.ant-modal-wrap {
    pointer-events: none;
}

.ant-modal {
    pointer-events: all;
}



.ant-table-cell {
    font-size: 12px !important;
    padding: 6px !important;
}


.background-login {
    overflow: initial;
    background-image: url('../assets/img/backgraundBody.png');
    background-size: cover;
    height: 100vh;
}


input {
    box-shadow: none !important;
}

.container-progress {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(20, 16, 28, 0.60);
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

:where(.css-dev-only-do-not-override-1hyej8k).ant-progress.ant-progress-circle .ant-progress-text {
    color: rgba(225, 225, 225, 1);
}

