.ant-table-wrapper {
    .ant-spin-container {
        ul.ant-pagination.ant-table-pagination:first-child {
            margin-top: 0;

            .ant-pagination-prev,
            .ant-pagination-next,
            .ant-pagination-item {
                display: none;
            }
        }

        ul.ant-pagination.ant-table-pagination:last-child {

            .ant-pagination-total-text,
            .ant-pagination-options {
                display: none;
            }
        }

        .ant-table {
            margin-top: 8px;
        }
    }
}

.ant-table-thead>tr>th {
    padding: 5px 5px 0px 8px !important;
    color: #4b4b4b;
    background-color: #ffffff !important;
}

.ant-table-tbody {
    padding: 0 !important;
}

.ant-table-tbody>tr>td {
    padding: 2px !important;
}


.ant-table-tbody>tr>td,
.ant-table-thead>tr>th,
.ant-table tfoot>tr>td,
.ant-table tfoot>tr>th {
    padding: 8px;
    border-color: #e2e2e3 !important;
}


.ant-table-thead>tr>th {
    color: #4b4b4b;
    background-color: #e4e4e4 !important;
    border: 0.1em solid rgb(188, 188, 188) !important;
}

.ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table {
    border-color: #e2e2e3 !important;
}


.ant-table-cell-fix-right-first:after {
    border-color: #e2e2e3 !important;
}